@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Lia Fostiropoulou:</strong>   <a href="mailto:liafostiropoulou@gmail.com">liafostiropoulou@gmail.com</a><br />
    <strong>Christos Liapis:</strong> <a href="mailto:liapis.chr@gmail.com">liapis.chr@gmail.com</a>
</address>